:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.hero {
  text-align: left;
  margin-top: 100px;
  padding-top: 2rem;
  padding-left: 15rem;
  padding-bottom: 5rem;
  font-family: Raleway;
  line-height: 3em;
}

.boldfont {
  font-weight: 800;
}
.text {
  font-style: italic;
  line-height: 3em;
  opacity: 0.6;
  color: var(--primary-color);
}
.text-2 {
  line-height: 3em;
  font-family: Raleway;
  text-align: center;
}
body {
  padding-top: 60px;
  margin: 80px auto;
  max-width: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
h4 {
  font-size: 10px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
.container-apps {
  background-color: var(--secondary-color);
}
.app-title {
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
}

.about-paragraphs p {
  font-family: Raleway;
  line-height: 3em;
  margin: 0px 30px 10px 100px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

img {
  max-width: 500px;
}
.app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 0;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .hero {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  .app-title {
    text-align: center;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  .navigation-links {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 5px;
  }
  .app-link {
    display: flex;
    justify-content: center;
  }
  img {
    display: none;
  }
}
